<div class="sidebar">
    <div class="menuItem"><a href="#/">Home</a></div>
    <div class="menuItem">My Reviews</div>
    <div class="menuItem"><a href="#/reviews">Community</a></div>
    <div class="menuItem">Log Out</div>
</div>
<div id="reviews">
    <div class="reviewContainer" ng-repeat="review in reviews">
        <div class="review">
            <div class="leftReview">
                <div class="reviewRow">
                    BEER NAME: {{review.beer}}
                </div>
                <div class="reviewRow">
                    <div class="brewer">BREWER: {{review.brewer}}</div>
                    <div class="price">PRICE: ${{review.price}}</div>
                </div>
                <div class="reviewRow">
                    <div class="sampleDate">SAMPLED: {{review.sampled}}</div>
                    <div class="ratingSection">
                        RATING
                        <div class="rating">
                            <span ng-repeat="star in getNumber(review.rating) track by $index" class="gold">☆</span>
                        </div>
                    </div>
                </div>
                <div class="reviewRow">
                    <div class="notes">NOTES:<br>
                        <br>
                        {{review.notes}}
                    </div>
                </div>
            </div>
            <div class="rightReview">
                <div class="statsAndServing">
                    <div class="stats">
                        <div class="title">STATS</div>
                        <div class="statsLabels">ABV (%)<br/>IBU</div>
                        <div class="statsInput">
                            {{review.abv}}<br>
                            {{review.ibu}}<br>
                        </div>
                    </div>
                    <div class="servingType">
                        <div class="title">SERVING TYPE
                        </div>
                        Draft   <span ng-show="review.servingType == 'draft'">✓</span><br/>
                        Cask    <span ng-show="review.servingType == 'cask'">✓</span><br/>
                        Bottle  <span ng-show="review.servingType == 'bottle'">✓</span><br/>
                        Can     <span ng-show="review.servingType == 'can'">✓</span><br/>
                        Growler <span ng-show="review.servingType == 'growler'">✓</span><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="submitButton" class="hoverButton" ng-click="submitReview();"/>
