doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js')
    script(src="javascripts/app.js")
    script(src="javascripts/controllers/reviews.js")
  body(ng-app="beerJournalApp")
    #titleBar
      #title= title
      #description= description
    block content
