//
   Created by masstamike on 3/9/16.
extends layout

block content
   #login
      | Username
      input(type="text", name="username")
      br
      | Password
      input(type="password", name="password")
      br
      #submitBtn(onclick="xhttp.open(\"POST\", \"login\", true);" +
      "xhttp.setRequestHeader(\"Content-type\", \"application/x-www-form-urlencoded\");" +
      "xhttp.send(\"username=jack&password=secret\");")
         | SUBMIT