//
   Created by masstamike on 3/9/16.
extends layout

block content
   #login
      | Username
      input(type="text", name="username")
      br
      | Password
      input(type="password", name="password")
      br
      input(type="submit")