/*
  Material Color Palette
  Primary: Blue
  Accent: Amber
*/

body {
  background-color: #ECEFF1;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #FFD740;
}

textarea {
  width: 90%;
  height: 128px;
  border: 0;
  margin: 0 4%;
  resize: none;
  box-shadow: 2px 4px 8px #e5e5e5;
}

#titleBar {
  position: fixed;
  background-color: #2196F3;
  height: 128px;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px #b5b5b5;
  -moz-box-shadow: 0 2px 2px #b5b5b5;
  box-shadow: 0 2px 2px #b5b5b5;
  color: #ffffff;
  font-size: 56px;
  z-index: 500;
}

#title {
  margin: 10px 0;
}

#description {
  padding-left: 1em;
  font-size: 14px;
  opacity: .7;
}

input.underline {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: dashed 1px;
  width: 128px;
}

.reviewContainer {
  position: relative;
  background-color: white;
  float:left;
  margin: 136px 16px 48px;
  padding: 8px;
  font-size: 16px;
  box-shadow: 0 1px 4px rgba(0,0,0,.17);
  min-width: 400px;
}

.review {
}

#beerName {
  width: 60%;
  margin-left: 32px;
}

.reviewRow {
  maring: 16px 0;
}

.brewer {
  float: left;
}

.price {
  float: right;
}

.sampleDate {
  float: left;
}

.ratingSection {
  float: right;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: right;
  font-size: large;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: gold;
}

.rating > span.gold:before,
.rating > span.gold ~ span:before {
  content: "\2605";
  position: absolute;
  color: gold;
}

.statsAndServing {
  width: 120px;
  margin-top: 16px;
  float: left;
}

div.stats {
  margin: 16px;
  width: 100%;
  border: 1px solid rgba(0,0,0,.17);
  padding: 5%;
  height: 64px;
}

div.stats > div.title {
  background-color: #64B5F6;
  margin: 1px;
  text-align: center;
}

div.servingType > div.title {
  background-color: #64B5F6;
  margin: 1px;
  text-align: center;
}

div.statsLabels {
  float: left;
}

div.statsInput {
  float: right;
}

div.statsInput > input {
  margin: 1px;
  width: 48px;
}

div.servingType {
  margin: 16px;
  width: 100%;
  border: 1px solid rgba(0,0,0,.17);
  padding: 5%;
}

.flavorWheel {
  float: right;
  margin-top: 64px;
  width: 50%;
  height: 176px;
}

.hoverButton {
  bottom: 0;
  right: 0;
  position: absolute;
  background: #18FFFF url(../images/plus.png);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
  float:right;
  margin-bottom: -32px;
  margin-right: 16px;
}

.hoverButton:hover {
  bottom: 4px;
  box-shadow: 0 12px 10px rgba(0,0,0,0.3);
}